.container{
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #f7f7f7;
}
.card{
    display: flex;
    flex-direction: column;
    background: transparent;
    /* align-items: center; */
    min-width: 254px;
    margin-bottom: 25vh; 

}
::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ffffff !important;
}